@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/authentication/authetication.css" rel="stylesheet" />

<div class="col-12">
    <div class="col-md-12">
        <img src="~/images/Layout/fishing-rod.png" class="WelcomeImage" />
    </div>
    <div class="col-md-12 ContentText">
        <form asp-controller="Account" asp-action="Login" method="post" class="col-md-4 offset-4">
            <h4>Welcome to Fishare!</h4>
            <p>Your online fishing platform to share all your fish adventures with your friends</p>
            <p>Please login or register to contineue</p>
            <div id="EmailForm" class="form-group">
                <label for="EmailLogin">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="EmailLogin" aria-describedby="emailHelp" placeholder="Enter email">
                <span asp-validation-for="Email" id="EmailHelp" class="form-text text-danger"></span>
            </div>
            <div id="PasswordForm" class="form-group">
                <label for="PasswordLogin">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="PasswordLogin" placeholder="Password">
                <span asp-validation-for="Password" id="PasswordHelp" class="form-text text-danger"></span>
            </div>
            <div class="form-check check">
                <input asp-for="Remember" type="checkbox" value="true" class="form-check-input" id="KeepLogin">
                <label class="form-check-label" for="RememberLogin">Remember me</label>
            </div>
            <span class="form-text text-danger">@ViewData["ErrorNoUser"] @ViewData["ErrorNoCookiesInfo"]</span>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="CreateAccountDiv col-md-12">
            <p>You dont have an account? Create one here:</p>
            <form>
                <button asp-controller="Account" asp-action="Create" class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-plus"></i> create account</button>
            </form>
        </div>
    </div>
</div>


