.Site {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}
.FHPicture {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.PPicture {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.MA-Text {
    text-align: center;
    color: white;
    margin-top: 15px;
}
.lg-ca-Btn {
    margin-left: 10px;
    margin-right: 10px;
}
.Main-Content {
    flex: 1;
}
.page-footer {
    background-color: #2196F3;
}
.footer-copyright {
    background-color: #1A78C2;
}
.Footer-text {
    color: white;
}