.FHPicture {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.PPicture {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.MA-Text {
    text-align: center;
    color: white;
    margin-top: 15px;
}
.lg-ca-Btn {
    margin-left: 10px;
    margin-right: 10px;
}
html {
    height: 100%;
}
.Main-Content {
    height:100%;
/*    //position:relative;*/
}
.page-footer {
    background-color: #2196F3;
/*    bottom:0;*/
    width:100%;
}

/*@media screen and (min-width: 768px) {*/
/*    .page-footer {*/
/*        position: absolute;*/
/*    }*/
/*}*/

.footer-copyright {
    background-color: #1A78C2;
}
.Footer-text {
    color: white;
}