.Top-Content {
    margin: 15px;
}
.AccountInfoText {
    margin-top: 35px;
}
.UserPhoto {
    height: 130px;
    width: 130px;
}
.ActionButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.User-Content {
    margin: 15px;
}
.PreviewPost {
    margin: 15px;
}
.PreviewPostImage {
    height: 200px;
    width: 300px;
}
.PostTitle {
    text-align: left;
}
.PostDate {
    text-align: right;
}
.ContentBlock {
    margin-bottom: 60px;
}
.PageBorder {
    border-bottom: 1px solid #2196F3;
}
.FRContent {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #127BA3;
    background-color: #E7ECED;
    align-items: baseline;
    border-radius: 5px;
}
.PreviewAccountImage {
    height: 120px;
    width: 120px;
}
.SearchFriends {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}
.SearchBalk {
    width: 100%;
}
.FriendPicture {
    height: 50px;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

