.Side-Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.WelcomeImage {
    height: 200px;
    width: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ContentText {
    text-align: center;
    margin: 25px;
}
