.Side-Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.WelcomeImage {
    height: 200px;
    width: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ContentText {
    text-align: left;
    margin: 25px;
}
.check {
    margin: 10px;
}
.CreateAccountDiv {
    text-align: center;
    margin: 10px;

}
.Top-Text {
    text-align: center;
}
