@{
    ViewData["Title"] = "TimeLine";
}

<h2>TimeLine</h2>

<div class="col-md-10 offset-1">
    <div class="col-md-12">
@*        @for (int i = 0; i < UPPER; i++)*@
@*        {*@
@*            <div class="col-md-10 offset-1 PostContent">*@
@*                <div class="PostTitle">*@
@*                    <img src="" class="PostUserImage"/>*@
@*                    <button class="btn btn-danger btn-sm">X</button>*@
@*                </div>*@
@*                <div class="PostImage">*@
@*                    <img src="" class="PostImage"/>*@
@*                </div>*@
@*                <div class="PostInfo col-md-12">*@
@*                    <div class="PostDescription">*@
@*                        <p>Description:</p>*@
@*                    </div>*@
@*                    <P>Likes:</P>*@
@*                    <button class="btn btn-primary btn-sm" type="button">Like</button>*@
@*                    <button class="btn btn-info btn-sm" type="button">Comments</button>*@
@*                </div>*@
@*                <div class="PostFishInfo">*@
@*                    <P>Location:</P>*@
@*                    <P>Weight:</P>*@
@*                    <P>Bait:</P>*@
@*                    <P>Date/Time:</P>*@
@*                    <P>Lenght:</P>*@
@*                </div>*@
@*            </div>*@
@*        }*@
    </div>
</div>

