@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/authentication/authetication.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <img src="images/authentication/LoginWallpaper-1.jpg" class="Side-Image" />
    </div>
    <div class="col-md-6">
        <div class="col-md-10 offset-md-1">
            <div class="AuthContent-Box">
                <div class="col-md-12">
                    <img src="images/Layout/fishing-rod.png" class="WelcomeImage" />
                </div>
                <div class="col-md-12 ContentText">
                    <h4>Welcome to Fishare!</h4>
                    <p>your'e Online Fishing platform to share your fish adventeurs with your friends</p>
                    <br/><br/>
                    <p>Please login or register to contineue</p>
                    <button class="btn btn-success">Login</button>
                    <br/><br/>
                    <p>If you dont have an account click</p><button class="btn btn-danger">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
    